.btn-1 {
  @extend %font-family-alpha;
  @include font($size: 1.6rem, $height: 2rem);
  @include button($color: $color-dark, $radius: 1rem);
  padding: 1.3rem 2.7rem;

  &_bordered {
    border: 0.2rem solid $color-beta;
  }

  &_colored {
    background-color: $color-beta;
    border: 0.2rem solid $color-beta;
  }
}


.btn-2 {
  @include font($size: 2rem, $height: 2.6rem);
  @extend %font-family-beta;
  @include button();
  padding: 1.1rem 0;
  text-transform: capitalize;
  min-width: 16.1rem;

  &_bordered {
    border: 0.1rem solid $color-beta;
  }

  &_colored {
    background-color: $color-beta;
    border: 0.1rem solid $color-beta;
  }
}

.prices__btn {
  padding: 1.6rem 4rem;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  max-width: 250px;

}
