.btn-1 {
  @extend %font-family-alpha;
  @include font($size: 1.6rem, $height: 2rem);
  @include button($color: $color-dark, $radius: 1rem);
  padding: 1.3rem 2.7rem;
  @include media-mobile {
    padding: 0.8rem 1.8rem;
    @include font($size: 1rem, $height: 2rem);
  }

  &_bordered {
    border: 0.2rem solid $color-beta;
  }

  &_colored {
    background-color: $color-beta;
    border: 0.2rem solid $color-beta;
  }

  &:hover {
    background-color: $color-beta;
    border: 0.2rem solid $color-beta;
    color: $color-light;
    @extend %transition;
  }
}


.btn-2 {
  @include font($size: 2rem, $height: 2.6rem);
  @extend %font-family-beta;
  @include button();
  padding: 1.1rem 0;
  text-transform: capitalize;
  min-width: 16.1rem;
  transition: background-color 0.4s;
  @include media-mobile {
    @include font($size: 1.5rem, $height: 2rem);
    padding: 0.8rem 0;
    min-width: 12.1rem;
  }

  &_bordered {
    border: 0.1rem solid $color-beta;
  }

  &_colored {
    background-color: $color-beta;
    border: 0.1rem solid $color-beta;
  }

}

.prices__btn {
  padding: 1.6rem 4rem;
  @include flex2;
  @include button($color: $color-dark, $radius: 2rem, $bg: $color-background, $text-align: none);
  flex-grow: 1;
  border: none;
  @include font($size: 2rem, $height: 2rem, $weight: $bold);
  transition: background-color 0.2s;
  @include media-mobile {
    padding: 1.6rem 1.0rem 1.5rem 3.0rem;
    @include font($size: 1.5rem, $height: 2rem, $weight: $bold);
    position: relative;
  }
}

.btn-contact-us {
  @include flex;
  max-width: 45.0rem;
  flex-grow: 1;
  padding: 0.8rem 3.5rem 0.4rem 2.6rem;
  border: none;
  background: $color-btn-contact;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  @include media-mobile {
    padding: 0.5rem 2.0rem;
  }
}
.prices__btn_active {
  background-color: $color-btn-contact;
}

//for buttons in section service
.btn_active {
  background-color: $color-beta;
  border: 0.1rem solid $color-beta;
  color: $color-light;
}



//for prices section
.accordion__btn {
  @include button($color: $color-text-secondary, $radius: 10px, $bg: #fff);
  @include font($size: 1.4rem, $height: 2rem, $weight: $bold);
  padding: 3px 20px;
  border: none;
  margin: 12px 0;
}