//local placeholder
%hamburger-line {
  content: '';
  width: 100%;
  border: 2px solid $color-text-secondary;
  position: absolute;
  background-color: $color-text-secondary;
}

.hamburger {
  display: none;
  width: 4rem;
  height: 2.4rem;
  position: relative;
  @include media-mobile {
    display: inline-block;
    &._active {
      z-index: 10;
      //delete line
      &:before {
        transform: scale(0);
      }

      //delete line
      &:after {
        transform: scale(0);
      }
    }
  }
  //рисует верхнюю границу гамбургера
  &:before {
    @extend %hamburger-line;
    top: -0.5rem;
    right: 0;
  }

  //рисует нижнюю границу гамбургера
  &:after {
    @extend %hamburger-line;
    top: 20px;
    right: 0;
  }

}

.hamburger__line {

  //animation hamburger
  .hamburger._active & {
    &:before {
      top: 50%;
      transform: rotate(45deg) translate(0, -50%);
    }

    &:after {
      bottom: 50%;
      transform: rotate(135deg) translate(0, -50%);
    }
  }

  &:before {
    @extend %hamburger-line;
    top: 0.3rem;
    right: 0;

  }

  &:after {
    @extend %hamburger-line;
    top: 1.1rem;
    right: 0;
  }

}