$color-alpha: #499A18;
$color-beta: #E06733;
$color-background: #EDF2EC;
$color-btn-contact: #D6E7D2;
$color-text: #636060;
$color-text-img: #717171;
$color-heading: #010201;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;




