@mixin font($size,$height,$weight:$regular,$style:$normal) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin active {
  color: $color-beta;
  font-weight: $bold;
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}