%font-family-alpha {
  font-family: 'Inter', 'Verdana', sans-serif;
}

%font-family-beta {
  font-family: 'Inika', 'Verdana', sans-serif;
}
//transition: <property> <duration> <timing-function> <delay>;
//ease-out
//Указывает, что интерполяция начинается резко, а затем постепенно замедляется к концу.
%transition {
  transition: all .5s ease-out;
}