.about {
  padding: 9.3rem 10.9rem 9.4rem 10.9rem;
}

.about__wrapper {
  @include flex;
  flex-wrap: wrap;
}

.about__content {
  max-width: 60.5rem;
}

.about__title {
  font-weight: $regular;
  color: $color-alpha;
  margin-bottom: 4.0rem;
}

.title-about_emphasized {
  color: $color-beta;
}

.about__text {
  @include font($size: 2rem, $height: 3rem);
}

.about__img {
  max-width: 46.4rem;
}
