.contact-us {
  background-color: $color-background;
  padding: 5.3rem 10.9rem 0 10.9rem;
  @include media-tablet {
    padding: 4rem 15.9rem 0;
  }
  @include media-mobile {
    padding: 2.5rem 4.2rem 0;
  }
}

.contact-us__wrapper {
  display: flex;
  @include media-tablet {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.contact-us__img {
  max-width: 40.0rem;
  margin-right: 11.3rem;
  @include media-tablet {
    max-width: 20rem;
    margin: 0;
    padding-left: 1.7rem;
  }
  @include media-mobile {
    max-width: 10rem;
    padding: 0;
  }
}

.contact-us__content {
  max-width: 45.0rem+6.4rem+19.5rem;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  @include media-tablet {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.contact-us__title {
  color: #499A18;
  margin-right: 6.4rem;
  @include media-tablet {
    margin: 0;
    padding-top: 0.4rem;
  }
  @include media-mobile {
    @include font($size: 2.5rem, $height: 3.3rem, $weight: $bold);
  }
}

.contact-us__btn {
  display: flex;
  flex-grow: 1;
  margin-top: 8.8rem;
  @include media-tablet {
    width: 100%;
    margin: 10rem 0 25rem;
  }
  @include media-mobile {
    margin: 8.4rem 0 13.2rem;
  }
}

.btn-contact-us__title {
  @extend %font-family-alpha;
  @include font($size: 2rem, $height: 4rem)
}