
.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.7rem;
  @include media-mobile {
    display: none;
  }
}

.navigation__item {
  color: $color-heading;
}

.navigation__link {
  @extend %transition;


  &:hover {
    @include active;
  }

}
