
.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.7rem;
}

.navigation__item {
  color: #010201;
}

.navigation__link {
  @extend %transition;


  &:hover {
    @include active;
  }

}

.contacts {
  padding-right: 0;
}
