.welcome {
  background-color: $color-background;
}

.welcome__wrapper {
  @include flex;
  flex-wrap: wrap;
  padding: 6.2rem 10.9rem 6.24rem 10.9rem;
}

.image-welcome {
  max-width: 448.8px;
  max-height: 407.36px;
}

.welcome__content {
  @extend %font-family-alpha;
  max-width: 54.9rem;
  padding-top: 8px;
}

.welcome__title {
  margin-bottom: 4.2rem;
}

.welcome__text {
  @include font($size: 2rem, $height: 3.5rem);
  margin-bottom: 44px;
}

