.footer {
  padding: 3.7rem 10.9rem;
  @include font($size: 2rem, $height: 5rem);
  @include media-tablet {
    padding: 2.1rem 0 2.8rem;
  }
  @include media-mobile {
    padding: 0.7rem 8.5rem 0;
  }
}

.footer__wrapper {
  flex-wrap: wrap;
  @include media-tablet {
    flex-direction: column;
  }
  @include media-mobile {
    position: relative;
  }
}

.footer__copyright {
  @include media-tablet {
    padding-left: 1rem;
  }
}

.copyright_item {
  margin-right: 1.5rem;
}

.github:hover {
  @extend %transition;
  opacity: 0.5;
}

.footer__center {
  text-align: center;
}

.footer__ref {
  @include media-tablet {
    position: relative;
    bottom: 1rem;
  }

  &:hover {
    @extend %transition;
    opacity: 0.5;
  }
}


.footer__list {
  display: flex;
  justify-content: flex-end;
  gap: 2.0rem;
  @include media-mobile {
    position: absolute;
    bottom: -2rem;
  }
}

.footer__item {
  display: flex;
}

.footer__link {
  display: flex;
  flex-grow: 1;

}
