.header {
  @extend %font-family-beta;
  @include font($size: 1.6rem, $height: 5rem);
  background-color: $color-background;
  padding: 42px 111px 42px 108px;
}

.header__wrapper {
  @include flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.header__logo {
  line-height: 2rem;
  padding-bottom: 1rem;
}
.logo-object{
  width: 2rem;
  height: 2rem
}
