.header {
  @extend %font-family-beta;
  @include font($size: 1.6rem, $height: 5rem);
}

.header__wrapper {
  @include flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 42px $padding-side-desktop;
}

.header__logo {
  line-height: 2rem;
}
